@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Slab:wght@100..900&display=swap');

/* fonts */

.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  
}
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}
.font-roboto-slab {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  
}




/* common style */
*{
    margin: 0 auto;
    padding: 0;
    box-sizing: 0;
}


.btn-primary{
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: blue;
    border: none;
    padding:16px 30px ;
    border-radius: 20px;
}
.btn-primary:hover{
  background-image: linear-gradient( to right, blueviolet, #f825ff );
  color: black;
    font-size: 20px;
    cursor: pointer;
    
}
/* hero-section */

.hero-section{
    background-image: url(./assets/Hero-bg.png);
    
    height: 698px;
   
   
}
.hero{
      width: 1140px;
    display: flex;
     justify-content: space-evenly;
    gap:900px;
   padding: 30px 0px ;
    
}

.hero-logo{
    font-size: 34px;
    font-weight: bold;
    color:blue;
}

/* hero-banner */
.hero-banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    margin-top: 150px;
}
.hero-banner h1{
     font-size: 54px;
    font-weight: bold;
    color: rgb(3, 0, 0);
    width: 75%;
    text-align: center;
    margin-top:50px ;
   margin-bottom: 30px;
}

/* Main */
.container{
    width: 1140px;
}
/* action */

.action{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:100px 0px ;
}
.action h1{
    font-size: 45px;
    font-weight: bold;
    color: rgb(3, 0, 0);
}
.action p{
    font-size: 24px;
    font-weight:regular;
    color: rgb(122, 117, 117);
    padding: 24px 0px ;
}
.action img{
    border-radius: 50px;
}
/* productive */

.productive{
    background-color:#4d47ff91 ;
    padding: 50px 100px;
    border-radius: 20px;
}
.productive h2{
    text-align: center;
    font-size: 34px;
    font-weight: 700;
}
.productive-num{
    
    display: flex;
    gap: 160px;
    margin-top: 40px;
}
.productive-num h1{
   font-size: 80px;
    font-weight: 800;
    color: blue;
}
.productive-num p{
    font-size: 16px;
    font-weight:regular;
    color: #00000069;
}

/* Users’ Feedback Section */

.Users-Feedback h1{
    text-align: center;
    font-size: 42px;
    font-weight:bold;
    color: #252432;
    margin-top: 130px;
}
/* cards */
.cards{
    display: flex;
   margin-top: 50px;
   margin-bottom: 130px;
   gap:20px ;
    
}
.card{
    width: 366px;
   border-radius: 20px;
    padding: 20px;
    background-color:#78aae2ef;
   
}
.card text h3{
    font-size: 24px;
    font-weight:600;
    color: #252432;
}
.card text p{
    font-size: 16px;
    font-weight:regular;
    color: #252432b4;
    
}
 /* <!-- Ready to focus better --> */
 .focus{
    text-align: center;
 }



/* Users-Feedback-footer */
.Users-Feedback-footer{

    display: flex;
   width: 200px;
   position: relative;
   left:-65px;
}
.Users-Feedback-footer img{
    border-radius:100%;
}
.Users-Feedback-footer h4{
    color: #252432;
}
.Users-Feedback-footer p{
    color: #25243260;
}

/*  Ready to focus better */
.focus{
    text-align: center;
}


/* Let’s Get In Touch Section */

.touch-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
     margin-bottom: 100px;
     border: 2px solid pink;
     padding: 0px;
}

.touch-section h1{
    font-size:80px ;
    font-weight:bold ;
   position: relative;
   right: 130px;
     
}

/* form-section */
.form-section{
    display: flex;
    flex-direction: column;
    /* position: relative;
    left: 50px ; */
   
}
.form-section label{
    font-size:18px ;
    font-weight:medium ;
    
  
}
.form-section input{
    padding:20px ;
    border: 1px solid #2524322f;
    border-radius: 10px;
    /* width: 118%; */

}
 .form-section textarea {
     padding:30px ;
    border: 1px solid #2524322f;
    border-radius: 10px;
    /* width: 105%; */
 }
 .btn-form {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    padding: 10px 80px;
    /* position: relative;
    left: 30px ; */
 }

 /* footer-section */

 .footer-section{
    width:  1440px;
    background-color: #ffffffd5;
    text-align: center;
 }
 .footer-section h1{
    font-size:100px ;
    font-weight: bold ;
    color: blue;

 }
 .footer-section p{
    font-size:16px ;
    font-weight: regular ;
    color: #8987A1;
 }
 .footer-section div{
  border: 2px solid black;
   padding: 10px;
  
 }
 .footer-section a{
    color: #8987A1;
    text-decoration: none;
     font-size:16px ;
    font-weight: regular ;
    }